.App {
  text-align: center;
  margin-top: 30vh;
  font-weight: bold;
}

.likes {
  padding: 0.5rem;
  margin: 1rem;
}
.dislikes {
  padding: 0.5rem;
  margin: 1rem;
}

.names {
  margin: 2rem;
}

.clickme {
  padding: 0.5rem;
  margin: 1rem;
}
